@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.home-section nav {
  background: #f8fafc;
  min-height: 80px; }
  @media (max-width: 576px) {
    .home-section nav {
      min-height: 70px; } }

.home-section .playstore-img {
  max-width: 158px;
  max-height: 40px; }
  @media (max-width: 576px) {
    .home-section .playstore-img {
      min-width: 80px; } }

.home-section .upper-part {
  padding-left: 15px;
  padding-right: 15px;
  height: 620px;
  color: #f8fafc;
  padding-top: 120px;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.25) 73.92%, rgba(246, 238, 231, 0.25) 100%); }
  @media screen and (max-width: 1113px) {
    .home-section .upper-part {
      padding-top: 100px; } }
  @media screen and (max-width: 752px) {
    .home-section .upper-part {
      padding-top: 90px; } }
  .home-section .upper-part .hero-title {
    font-weight: 800;
    font-size: 54px;
    line-height: 63px; }
    @media screen and (max-width: 1113px) {
      .home-section .upper-part .hero-title {
        font-weight: 800;
        font-size: 45px;
        line-height: 55px; } }
  .home-section .upper-part .hero-description {
    font-size: 22px;
    line-height: 34px; }
    @media screen and (max-width: 1113px) {
      .home-section .upper-part .hero-description {
        font-size: 18px;
        line-height: 27px; } }
    @media screen and (max-width: 621px) {
      .home-section .upper-part .hero-description {
        font-size: 18px;
        line-height: 23px; } }
  .home-section .upper-part .search {
    margin-top: 120px; }
    @media screen and (max-width: 939px) {
      .home-section .upper-part .search {
        margin-top: 90px; } }
    @media screen and (max-width: 621px) {
      .home-section .upper-part .search {
        margin-top: 70px; } }
  .home-section .upper-part .has-search .form-control {
    padding-right: 2.375rem;
    background: #FFC043;
    border-color: #FFC043;
    color: #333333;
    font-weight: 600;
    font-size: 18px;
    height: 51px;
    width: 321px;
    font-family: "Raleway", sans-serif; }
    .home-section .upper-part .has-search .form-control:active, .home-section .upper-part .has-search .form-control:focus {
      border-color: #FFC043;
      box-shadow: none; }
    .home-section .upper-part .has-search .form-control::placeholder {
      color: #333333;
      font-weight: 600;
      font-size: 18px; }
  .home-section .upper-part .has-search .form-control-feedback {
    position: absolute;
    z-index: 10;
    width: 2.375rem;
    height: 100%;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    right: 0;
    display: flex;
    align-items: center; }

.home-section .lower-part {
  margin-top: 80px;
  color: #f8fafc;
  font-family: "Raleway", sans-serif; }
  .home-section .lower-part .categories .category {
    width: 50px;
    height: 70; }
    .home-section .lower-part .categories .category p {
      padding-top: 20px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 500; }

.home-section .banner-section {
  height: 880px;
  background: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 80px; }

.service-details {
  font-family: "Raleway", sans-serif !important;
  margin-top: 80px;
  margin-bottom: 40px; }
  .service-details .service .service-image h2 {
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #252021; }
  .service-details .service .service-image img.img-service {
    margin-top: 30px;
    border-radius: 0px !important;
    max-width: 400px;
    max-height: 300px; }
  .service-details .service .service-description p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #252021; }
  .service-details .service .service-description .service-index {
    font-family: Fredoka One;
    font-weight: normal;
    font-size: 150px;
    line-height: 181px;
    color: #FFC043; }
  .service-details .service .service-description .more-details h6 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px; }
  .service-details .service .service-description .more-details p {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #9b9b9b; }
  .service-details .owl-dots .owl-dot span {
    background: #f8fafc;
    border: solid 1px #FFC043;
    transition: all 0.2s; }
  .service-details .owl-dots .owl-dot.active span,
  .service-details .owl-dots .owl-dot:hover span {
    background: #FFC043;
    mix-blend-mode: normal;
    border-radius: 5px;
    width: 21px; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }
