// navbar
.home-section{
    nav{
        background: $light;
        min-height: 70px;
        @media (max-width: $sm) {
            min-height: 60px;
        }
    }

    .playstore-img{
        max-width: 158px;
        max-height: 40px;
        @media (max-width: $sm) {
            min-width: 80px;
        }
    }
}