.testimonial-grid {
  .col-md-4 {
    padding-bottom: 30px;
  }
  .grid-image {
    padding: 0;
    img {
      border-radius: 0px !important;
      width: 100%;
    }
  }
  .grid-testimonial {
    &.primary {
      background: $primary;
    }
    &.light {
      background: #f6eee7;
    }
    padding-top: 80px;
    text-align: center;
    img {
      background: transparent;
      border: none;
    }
    .testimonial {
      margin-top: 40px;
      font-weight: 800;
      font-size: 18px;
      line-height: 28px;
      color: #252021;
    }
    .user {
      padding-top: 48px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #252021;
    }
    .location {
      padding-top: 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #252021;
    }
  }
}
